* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider-container {
    height: 386px;
    width: 842px;
    position: relative;
}

.slider-container .images {
    height: 100%;
    width: 100%;
}

.slider-container .images img {
    height: 100%;
    width: 100%;
}

.btm-slides {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.btm-slides span {
    height: 15px;
    width: 50px;
    border: 2px solid black;
    margin: 0 3px;
    cursor: pointer;
}

.pokazatel-snimka {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.1);
}

.pokazatel-snimka:hover {
    background: rgba(255, 255, 255, 0.2);
}

.right {
    right: 0;
}

.pokazatel-snimka span {
    line-height: 41px;
    font-size: 35px;
    color: white;
}

